<!-- Sign up page. Enter your own information. -->



<form action='/users' method='post'>
  <input name="username" type="text" placeholder="Username">
  <input name="email" type="email" placeholder="email">
  <input name="password" type="password" placeholder="password">
  <input type="submit">
</form>
