<!-- Create new beat. Partial will appear on user's own '/' page -->

<form action='/beats' method='post'>
  <input name='content' type='text' placeholder="Enter beat here...">
  <input type="submit" value='Beat it!'>
</form>
