
  <form action='/users/new' id="header">
    <input class="button" id ="submit" type='submit' value='Sign Up'>
  </form>
  <form action = '/login' method='post' id="header">
    <input class="input" name="username" type='text' placeholder="Username">
    <input class="input" name="password" type="password" placeholder="Password">
    <input class="button" type='submit' value='Log In'>
  </form>

<div class="container">
  <div class="jumbotron">
    <p><span id="huge">Welcome to</span>
    <img id="biglogo" src="../images/bitterlast.png" />
    </p>
  </div>
  <div id="feed">
  <%= erb :'/beats/index' %>
  </div>
</div>
