
<div class="container">
  <h1>Welcome back, <%= @user.username  %>!</h1>
  <ul>
  <li><a href='/users'>ALL Beaters</a></li>
  <li><a href='/logout'>Log Out</a></li>
  </ul>

  <%= erb :'/beats/new' %>

  <%= erb :'/beats/index'%>

</div>

